.logo {
}

.logo__box {
    fill: #222;

    .theme--portfolio & {
        fill: #fff;
    }
}

.logo__text {
    fill: none;
}

a:hover .logo__box {
    fill: yellow;
}

header .logo {
    height: 40px;
    width: 40px;

    @media screen and (min-width: $breakpoint-small) {
        height: 60px;
        width: 60px;
    }

    @media screen and (min-width: $breakpoint-medium) {
        height: 100px;
        width: 100px;
    }
}

.logo--impact {
    display: inline;
    width: 10vw;

    @media screen and (min-width: $breakpoint-small) {
        transform: rotate(-25deg);
        transform-origin: 0 100%;
        width: 25vw;
    }
}
