.logo {
  border: 2px solid;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  height: 128px;
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  width: 128px;
  word-break: break-all;
  z-index: 1;
  
  span {
    line-height: 33.333px;
    width: 33.333%;
  }
  
  &:hover {
    animation: font-twitch 2s 0s;
  }
}

header {
  a {
    text-decoration: none;
  }

  .logo {
    background-color: #000;
    border: 0;
    color: #fff;
    font-size: 0.8rem;
    height: 66px;
    padding: 8px;
    width: 66px;

    span {
      line-height: 16.667px;
    }

    @media screen and (min-width: $breakpoint-medium) {
      background-color: transparent;
      border: 2px solid;
      color: #000;
      font-size: 1.3rem;
      height: 98px;
      margin-left: auto;
      padding: 10px;
      width: 98px;

      span {
        line-height: 26px;
      }
    }
  }
}

@keyframes font-twitch {
  0% {
    font-family: inherit;
  }
  1% {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
  }
  6% {
    font-family: Courier, monospace;
    font-style: normal;
  }
  11% {
    font-family: Savoye LET, Snell Roundhand, Zapfino, cursive;
  }
  16% {
    font-family: webdings;
  }
  21% {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  26% {
    font-family: inherit;
  }
  100% {
    font-family: inherit;
  }
}
