.portfolio-header {
  
  h1 {
    border-bottom: 2px solid;
    margin-bottom: 0;
  }

  &__hero {
    display: block;
    object-fit: cover;
    max-height: 100vh;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-small) {
  }

  @media screen and (min-width: $breakpoint-medium) {
    color: #fff;

    .container {
      padding: 0;
      position: relative;
    }

    &__content {
      bottom: 0;
      left: $gutter;
      position: absolute;
      right: $gutter;
    }

    &__info {
      float: left;
      min-width: $columns-3;
      max-width: $columns-4;
      padding-right: $gutter;

      a {
        background-color: #fff;
        color: #000;
        mix-blend-mode: lighten;
        padding: 0 0.2em;

        &:hover {
          color: $link-highlight;
          mix-blend-mode: normal;
        }
      }
    }
  }

  &__info {
    line-height: 1;

    dt {
      margin-bottom: 0.4em;
    }
  
    dd {
      font-weight: 200;
      display: inline;
      margin-left: 0;
  
      & + dd:before {
        content: "/ ";
      }
    }
  }
}

