html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: $gutter;
}

img {
  max-width: 100%;
}

.section {
  margin: 4em 0;
}

@media screen and (min-width: $breakpoint-small) {

  .gutters,
  .gutter-right {
    margin-right: $columns-3;
  }

}

@media screen and (min-width: $breakpoint-medium) {

  .gutters {
    margin-left: $columns-3;

    .pull-left {
      float: left;
      // margin-left: -$columns-3;
      margin-left: -30%;
      padding-right: $gutter;
      text-align: right;
      // width: $columns-3;
      width: 30%;
    }
  }

  .gutter-left {
    margin-left: $columns-3;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .column--two .column__item {
    width: 47%;
  }

}

.in-front {
  position: relative;
  z-index: 1;
}

.hide {
  display: none;
}
