.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: $gutter;
}

.gutters img {
    max-width: 100%;
}

@media screen and (min-width: $breakpoint-small) {

    .gutters {
        margin-left: 20%;
    }

    .pull-left {
        box-sizing: border-box;
        float: left;
        margin-left: -25%;
        padding-right: $gutter;
        text-align: right;
        width: 25%;
    }

    .gutter-left {
        margin-left: 20%;
    }

}

@media screen and (min-width: $breakpoint-medium) {

    .gutters {
        margin-right: 20%;

        .pull-left {
            margin-left: -33.333%;
            width: 33.333%;
        }
    }

    .gutter-right {
        margin-right: 20%;
    }

    .column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .column--two .column__item {
        width: 47%;
    }

}

.in-front {
    position: relative;
    z-index: 1;
}

.hide {
    display: none;
}
