---
title: "Andrew Mee: Front-end web developer"
description: 
permalink: /
---

<main role="main">
    <section class="panel">
        <div class="panel__container">
            <div class="logo">
                <span>A</span><span>n</span><span>d</span><span>r</span><span>e</span><span>w</span>
                <span>M</span><span>e</span><span>e</span>
            </div>
            <div class="panel__content">
                <p>
                    Hello, I'm Andrew and I am a front-end web developer with 13 years experience.
                    What does that mean? Well put simply, it means I have a great passion for building beautiful, efficient and elegant websites. Websites that draw you in and engage you; websites that do nifty things!
                </p>
            </div>
        </div>
    </section>

    <section class="panel">
        <div class="panel__container">
            <div class="panel__content">
                <h2>Recent activity</h2>
                <ol class="clean-list activity">
                    {% for post in site.posts %}
                        <li>
                            <a href="{{ post.url }}">
                                {{ post.title }}
                            </a>
                            {% if post.hero %}
                                {% if post.heroType == "video" %}
                                    <span class="activity__preview">
                                        <div style="background: black;padding:56.25% 0 0 0;position:relative;width: 100%;"><iframe src="{{ post.hero }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                                    </span>
                                {% else %}
                                    <span class="activity__preview" style="background-image: url({{ post.hero }});"></span>
                                {% endif %}
                            {% endif %}
                            <time datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ post.date | date: '%d %B %Y' }}</time>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </section>

    <section class="panel">
        <div class="panel__container">
            <div class="panel__content">
                <h2>Work with me</h2>
                <p>
                    <strong>I am currently available for full-time contract work in London.</strong><br>
                    <a href="http://www.linkedin.com/in/andrewmee" rel="nofollow">Get in touch</a> if you'd like to know more.
                </p>
                <p>
                    <a href="http://www.linkedin.com/in/andrewmee">View my CV on LinkedIn</a> or
                    <a href="https://github.com/andrewmee">check me out on GitHub</a>
                </p>

                <blockquote class="recommendation">
                    <p>Andrew is an absolutely top notch Front End Developer - an expert level of knowledge, very personable, and unnervingly *fast* as well - there are few people who can code so quickly, never mind to the standard that Andrew does.</p>
                    <cite>
                        &mdash; J. Robinson, Head of Front End Development<br>
                        <a href="http://springernature.com">springernature.com</a>
                    </cite>
                </blockquote>

                <blockquote class="recommendation">
                    <p>[Andrew] single-handedly wrote the front-end code for Songkick 2.0--a daunting task which he handled with calm efficiency! He works quickly and effectively and has a keen eye for both user experience and visual design. I really enjoyed collaborating with Andrew as we talked through design issue</p>
                    <cite>
                        &mdash; M. You, Chief Product Officer and Cofounder<br>
                        <a href="http://songkick.com">songkick.com</a>
                    </cite>
                </blockquote>
            </div>
        </div>
    </section>
</main>
