<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8"/>
        {% if page.layout == 'portfolio' %}
            <title>{{ page.title }} - {{ page.topic }} - Andrew Mee</title>
        {% elsif page.layout == 'post' %}
            <title>{{ page.title }} - Andrew Mee</title>
        {% else %}
            <title>{{ page.title }}</title>
        {% endif %}
        <meta name="description" content="{{ page.description }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/resources/styles/main.css" media="all">
    </head>

    <body class="theme--{{ page.theme }}">

        {{ content }}

        <script>
            if (window.location.hostname !== "localhost") {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-103656-3', 'auto');
                ga('send', 'pageview');
            }
        </script>
    </body>
</html>
