---
layout: default
---

<header class="container site-header">
    <div class="gutters">
        <div class="pull-left">
            <a href="/">
                {% include logo.svg classes="" %}
            </a>
        </div>
    </div>
</header>

<article class="container post">
    <header class="gutter-left">
        <span class="post__topic">{{page.topic}}</span>
        <h1>{{ page.title }}</h1>
        <span class="post__date">
            Article published
            <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}">{{ page.date | date: '%d %B %Y' }}</time>
        </span>

        {% if page.crossPost %}
            <a href="{{ page.crossPost.url }}">Originally posted on {{ page.crossPost.site }}</a>
        {% endif %}
    </header>

    <div class="gutters">
        {{ content }}
    </div>
</article>

<footer class="container">
    <div class="gutters">
        <span class="pull-left"><img src="/resources/images/logo-black-trans.svg" class="logo" alt=""></span>
        <h2>Andrew Mee</h2>
        <a href="/">Front-end developer</a>
    </div>
</footer>