---
layout: default
---

<header class="container">
    <a href="/"><img src="/resources/images/logo-white-trans.svg" class="logo" alt="Andrew Mee"></a>
</header>

<article class="container post post--{{ page.theme }}">
    <header>
        <span class="topic">{{page.topic}}</span>
        <h1>{{ page.title }}</h1>
    </header>

    <div class="content">
        {{ content }}
    </div>

    <iframe src="https://player.vimeo.com/video/89036930?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</article>